In [1]:
import pandas as pd
import geopandas as gpd

path = r"D:\CECO\Cad_Data\Koraput_cad_plot\Boipariguda_Crops_v1.shp"

# Load the training sample data
Boipariguda = gpd.read_file(path)
Boipariguda.head(1)

,ID,PLOT_CODE1,MPLOT_NO,VILL_CODE,VILL_NAME,KHATA_NO,PLOT_NO,TAHASIL_CD,TAHASIL,TOT_AREA,RSGIS_DSN,LU_CLASS,LAND_USE,PADDY,CROP_NAME,SURV_DT,geometry
0,29210,0812008-1,1,0812008,Tala,73,1,0812,Boipariguda,0.766,Y,Agriculture,NaN,Y,Rice,NaN,"POLYGON ((82.48427 18.75243, 82.48426 18.75240..."

In [2]:
Boipariguda.shape

(45697, 17)

In [3]:
num_unique_villages = Boipariguda['VILL_NAME'].nunique()
print(f"Number of unique villages: {num_unique_villages}")

Number of unique villages: 197

In [3]:
print(Boipariguda['VILL_NAME'].value_counts(dropna=False))

VILL_NAME
Kalara        1363
Beragan       1340
Kakalpara     1252
Pendapara     1251
Kendupada     1199
              ...
Patiapadar       1
Lalari           1
Mantriamb        1
Talapadar        1
Gadaghat         1
Name: count, Length: 197, dtype: int64

In [4]:
import pandas as pd

# List of village names to filter
villages_to_filter = [
    "Baligur", "Batriput", "Beragan", "Betabhata", "Bhejiguda", "Chandrapada",
    "Chikima", "Dokariguda", "Dorapur", "Ganiput", "Garput", "Kakalpara", "Kendupada",
    "Khemabeda", "Kurukuti", "Limbaput", "Mahantaput", "Maun", "Maunl", "Minarbali", 
    "Minarball", "Paliguda", "Pandipara", "Pangiput", "Pokulpada", "Podapadar Colony",
    "Ramapur", "Santeiput", "Sugapadar", "Tale"
]

# Filtering the dataframe based on the village names
filtered_df = Boipariguda[Boipariguda['VILL_NAME'].isin(villages_to_filter)]

# Display the count of villages
print(filtered_df['VILL_NAME'].value_counts(dropna=False))

VILL_NAME
Beragan             1340
Kakalpara           1252
Kendupada           1199
Chandrapada         1192
Santeiput           1148
Bhejiguda           1110
Kurukuti            1037
Ramapur              968
Dorapur              967
Ganiput              922
Minarbali            856
Chikima              773
Khemabeda            692
Pokulpada            641
Mahantaput           545
Garput               427
Paliguda             417
Pandipara            355
Sugapadar            317
Batriput             174
Betabhata            154
Pangiput             153
Dokariguda           101
Podapadar Colony      68
Limbaput              52
Name: count, dtype: int64

In [5]:
shapefile_path=r"D:\CECO\Boipariguda\small_aoi\Small_sample_Boipariguda.shp"

# Convert datetime fields to string format (YYYY-MM-DD)
filtered_df["SURV_DT"] = filtered_df["SURV_DT"].astype(str)

# Now save the shapefile
filtered_df.to_file(shapefile_path, driver="ESRI Shapefile")

print(f"Shapefile saved at: {shapefile_path}")

C:\Users\WORKSTATION\anaconda3\envs\gee\Lib\site-packages\geopandas\geodataframe.py:1528: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Shapefile saved at: D:\CECO\Boipariguda\small_aoi\Small_sample_Boipariguda.shp

In [6]:
import geopandas as gpd

# Load the shapefiles
points_8L = gpd.read_file(r"D:\CECO\Boipariguda\Training_points\updated_points_with_indices_8L.shp")  
points_1L = gpd.read_file(r"D:\CECO\Boipariguda\Training_points\updated_points_with_indices_1.5L.shp")  

# Print the CRS before transformation
print("CRS of 8L points:", points_8L.crs)
print("CRS of 1L points:", points_1L.crs)

CRS of 8L points: EPSG:32645
CRS of 1L points: EPSG:32645

In [9]:
points_8L.shape

(878421, 15)

In [10]:
points_1L.shape

(152888, 15)

In [11]:
878421-152888

725533

In [7]:

# Remove points that have the same geometry as in 1L dataset
filtered_points = points_8L[~points_8L.geometry.isin(points_1L.geometry)]
filtered_points.shape

(725023, 15)

In [8]:
filtered_points.head(1)

,Unique_ID,CROP_NAME,NDVI,EVI,SAVI,GCI,ARVI,MSAVI2,MTVI2,TGI,BLUE,GREEN,RED,NIR,geometry
7642,7643,Maize,0.796971,2.103948,1.195315,4.692654,0.750173,0.887003,0.859484,29390.0,316.0,667.0,429.0,3797.0,POINT (25997.016 2079698.457)

- 510 extra points were removed

In [14]:
print(points_8L.geometry.duplicated().sum())  # Count duplicates

750116

In [12]:
print(points_1L.geometry.duplicated().sum())  # Count duplicates

130002

In [15]:
# Drop duplicate geometries to ensure uniqueness
points_8L1 = points_8L.drop_duplicates(subset="geometry").reset_index(drop=True)
points_1L1 = points_1L.drop_duplicates(subset="geometry").reset_index(drop=True)

# Print new counts after removing duplicates
print("Unique geometries in 8L:", points_8L1.shape)
print("Unique geometries in 1L:", points_1L1.shape)

# Remove points that have the same geometry as in the 1L dataset
filtered_points1 = points_8L1[~points_8L1.geometry.isin(points_1L1.geometry)]

# Print final count after filtering
print("Final filtered points shape:", filtered_points1.shape)

Unique geometries in 8L: (128305, 15)
Unique geometries in 1L: (22886, 15)
Final filtered points shape: (105419, 15)

In [16]:
128305-22886

105419

In [18]:
# Remove points that have the same Unique_ID as in 1L dataset
filtered_points2 = points_8L[~points_8L["Unique_ID"].isin(points_1L["Unique_ID"])]

print("Final filtered points shape:", filtered_points2.shape)

Final filtered points shape: (725533, 15)

In [20]:
filtered_points2.head(1)

,Unique_ID,CROP_NAME,NDVI,EVI,SAVI,GCI,ARVI,MSAVI2,MTVI2,TGI,BLUE,GREEN,RED,NIR,geometry
152888,152889,Millets,0.7532,1.884931,1.129656,3.722759,0.684211,0.859211,0.842562,32685.0,322.0,725.0,482.0,3424.0,POINT (18531.529 2071053.786)

In [19]:
# Save the result as a new shapefile with 7L points
filtered_points2.to_file(r"D:\CECO\Boipariguda\Training_points\Differenced_points\filtered_points_7L.shp")

print("Filtered shapefile with 7L points saved successfully!")

Filtered shapefile with 7L points saved successfully!